body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heading{
  text-align: center;
  background-color:orange ;
  padding: 20px 20px;
  margin-top: 0px;
  color: white;
  font-size: 35px;
  width: 100%;
}

.search{
  margin-left: 80px;
  margin-top: 80px;
}
.search input{
  width: 80%;
  margin-left: 30px;
  padding: 15px 25px;
  border: 1px solid lightgray;
  border-radius: 15px;
}
.search input:focus{
  outline: 1px solid green;
}
/* .search .btn{
  margin-left: 20px;
  padding: 8px 10px;
  width: 120px;
  background-color: none;
  border: 1px solid lightgrey;
  border-radius: 10px;

} */
::placeholder{
  font-size: 15px;
}
.formgroup{
  margin-top: 30px;
  margin-left: 60px;
  border: 1px solid lightgrey;
  height: 100px;
  width: 95%;
}
.formgroup label{
  margin-left: 15px;
}
.formgroup input{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 15px;
  margin-inline: 20px;
  width: 20%;
  height: 25px;
  border-radius: 15px;
  border: 1px solid lightgrey;
}
.formgroup input:focus{
 outline: 1px solid green;
}
.formgroup .button{
  margin-top: 25px;
  margin-left: 600px;
  width: 30%;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
table{
  margin-top: 100px;
  margin-left: 50px;
  width: 95%;
  font-size: 20px;
}
th,td{
  padding: 8px;
  border: 1px solid #dddddd;
}

tr:nth-child(even){
  background-color: #dddddd;
}
.buttons{
  width: 150px;
  border-radius: 10px;
  height: 30px;
  border: none;
}
footer{
  padding: 40px 20px;
  text-align: center;
} 